

.txtBar{
	text-decoration: none; 
	text-align: center;
	font-weight: bold;
  font-size: 20px;
  transition: font-size 200ms linear;
}

.txtBar.scrolled{
	text-decoration: none; 
	text-align: center;
	font-weight: bold;
  font-size: 15px;
  transition: font-size 200ms linear;
}

.navbar-fixed-top.scrolled {
  background-color: rgba(255,255,255, 0.9) !important;
  transition: background-color 200ms linear;
}


.bg-primary{
  background-color: rgba(255,255,255, 0) !important;
  transition: background-color 200ms linear
}

.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}